/* css tested in IE6 and FF2.x */

body {
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	text-align:center;
    vertical-align:top;
    background-color:#FFFFFF;
}

#container {
    width:580px;
    height:auto;
	background-color:#ffffff;
    padding:0;
	margin:0 auto;
	position:static;
    text-align:left;
    vertical-align:top;
}

#mainBanner {
    position:relative;
    width:580px;
    height:60px;
	background-color: black;
    padding:0;
	margin:0;
	text-align:left;
    vertical-align:top;
}

#headerBar {
    position:relative;
    width:580px;
    height:25px;
    padding:0;
	margin:0;
}

#headerBar #headerText {
    position:relative;
    top:6px;
    text-align:left;
    vertical-align:top;
    padding:0;
    margin:0 0 0 54px;
    width:100%;
    font-size:8pt;
    float:left;
}

#headerBar #headerText1 {
    position:relative;
    top:6px;
    text-align:left;
	font-weight:bold;
	text-decoration:underline;
    vertical-align:top;
    padding:0;
    margin:0 0 0 52px;
    width:460px;
    font-size:8pt;
    float:left;
}

#headerBar #issueText {
    position:relative;
    top:6px;
    text-align:right;
    vertical-align:top;
    padding:0;
    margin:0 54px 0 0;
    font-size:8pt;
    width:230px;
    float:right;
}

#mainContent {
    position:relative;
    width:580px;
    height:auto;
    padding:0;
	margin:0;
	text-align:left;
    vertical-align:top;
}

#footerBar {
    top:0;
    position:relative;
    width:580px;
    height:60px;
    padding:0;
	margin:0;
	text-align:left;
    vertical-align:top;
}

#footerBar #copyRight {
    margin-top:0;
    margin-bottom:4px;
    margin-left:52px;
    margin-right:52px;
	padding:8px;
    text-align:center;
    vertical-align:top;
    border-top:2px solid #D8D9DB;
    display:block;    
}

#footerBar #copyRight #cpNotice {
    margin-top:4px;
    padding:0;
    text-align:center;
    vertical-align:top;
    font-size:8pt;
    color:#144168;
}

/* Main web content block */
#webContent {
    padding:0;
    margin:0 52px;
    text-align:left;
    vertical-align:top;
    font-size:8pt;
    overflow:hidden;
}

#webContent #bodyText {
    padding:0;
    margin:8px 0 8px 0;
    text-align:left;
    vertical-align:top;
    font-size:8pt;
}

#webContent #bodyText p {
    padding:0;
    margin: 0 0 5px 0;
}

#webContent #instructText {
    padding:5px;
    margin:8px 0 8px 0;
    text-align:left;
    vertical-align:top;
    font-size:8pt;
    background-color:#F6F9FB;
    border:1px solid #7A7F9A;
}

#webContent #instructText p {
    padding:0;
    margin: 0 0 5px 0;
}

a:link, a:visited, a:active {
    font-size:8pt;
    font-weight:normal;
    color:#144168;
    text-align:left;
    vertical-align:bottom;
    text-decoration:underline;
    padding:0;
    margin:0;
}

a:hover {
    font-size:8pt;
    font-weight:normal;
    color:#F48229;
    text-align:left;
    vertical-align:bottom;
    text-decoration:underline;
    padding:0;
    margin:0;
}
/* application form */

.formData {
    padding:0;
    margin:0;
    width:476px;
}

.formData tr.headerRow {
    background-color:#E7E7E8;
}

.formData td.headerCell {
    padding:3px 3px 3px 5px;
    font-weight:bold;
    font-size:8pt;
    text-align:left;
    color:#144168;
    empty-cells:show;
    white-space:nowrap;
}

.formData td.labelCell {
    padding:3px 3px 3px 5px;
    font-weight:bold;
    font-size:8pt;
    text-align:left;
    color:#144168;
    empty-cells:show;
    white-space:nowrap;
}

.formData td.dataCell {
    padding:2px 2px 2px 2px;
    font-weight:normal;
    font-size:8pt;
    text-align:left;
    color:#144168;
    empty-cells:show;
}

.formData td.navCell {
    padding:5px 2px;
    font-weight:normal;
    font-size:8pt;
    text-align:right;
    color:#144168;
    empty-cells:show;
}

.formData td.labelCell35 {
    padding:3px 3px 3px 5px;
    font-weight:bold;
    font-size:8pt;
    text-align:left;
    color:#144168;
    empty-cells:show;
    white-space:nowrap;
    width:35%;
}

.formData td.dataCell65 {
    padding:2px 2px 2px 2px;
    font-weight:normal;
    font-size:8pt;
    text-align:left;
    color:#144168;
    empty-cells:show;
    width:65%;
}

.formData td.navCellCenter {
    padding:5px 2px;
    font-weight:normal;
    font-size:8pt;
    text-align:center;
    color:#144168;
    empty-cells:show;
}

.formData td.textCell {
    padding:2px 2px 2px 5px;
    font-weight:normal;
    font-size:8pt;
    text-align:justify;
    color:#144168;
    empty-cells:show;
}
